@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
img {
  width: 400px;
  height: 400px;
}
body {
  background-color: rgb(0, 0, 0);
}
.head a:hover{
  color: gold;
}
.head a,
.homebg a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}

.head {
  /* background-image: url(abstract-smooth-brown-wall-background-layout-design-web-template-business-report-with-smooth-circle-gradient-color.jpg);*/
  background-color: rgb(43, 43, 43);
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
}
.navbar {
  color: white;
  display: flex;
  font-size: 18px;
  gap: 35px;
}
.icons {
  display: flex;
  gap: 20px;
  color: #fff;
  cursor: pointer;
}
.logo {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
} 
.products .container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.products img {
  padding-bottom: 100px;
  width: 400px;
  height: 400px;  
}
a{
cursor: pointer;
}
.container1 .box {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:6px; 
  border: solid;
  background: #212529;
  color: #fff;
  width: 350px;
  height: 300px;
  border: none;
}
.Cappuccino img{
  position: absolute;
  height: 310px;
}
.Black img{
  position: absolute;
  bottom: 30px;
}
.Nitrous img{
  padding-top: 47px;
}
.Cortado img
{
  position: absolute;
  width: 320px;
  height: 420px;
  padding-bottom: 120px;
}
.Mocha img{
  position: absolute;
  bottom: 30px;
}
.Nitrous img
{
  position: absolute;
  width: 320px;
  height: 520px;
  padding-bottom: 190px;
}
.Espresso img{
  position: absolute;
  height: 310px;
}
.Cortado h3.cotitle{
  position: absolute;
  padding-left: 30px;
  padding-top: 100px;
}
.content .stars
{
color: gold;
position: relative;
bottom:9px;
display: contents;
display: flex;
justify-content: center;

}
h3.cotitle
{
  position: absolute;
  display: flex;
  padding-top: 90px;
  align-items: center
  justify-content: center;
}
.box .content{
  position: absolute;
  padding-top: 250px;
}
.box .content p span{
  text-decoration: line-through;
  opacity: 0.5;
  padding-left: 5px;
}
.box .content p {
  position: relative;
  padding-bottom:50px ;
  padding-left: 10px;
}
.box .content a{
  position: relative;
  text-decoration: none;
  background-color:rgb(196, 157, 60);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  bottom: 40px;
  padding:5px 10px;
}
/*beans */

.heading2 h2{
  padding-top: 40px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(219, 178, 129);
  padding-bottom: 20px;
}
.beans{
  color: #fff;
}

.item img{
  width:430px;
  height: 450px;
}
.set1,.set2{
 display: flex;
 justify-content: space-around;
  padding-bottom: 50px;
  padding-left: 5px; 
}
.item{
  background-color: #212529;
  border-radius: 6px;
}
.contentb .stars{
  color:gold ;
}
.contentb
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentb a{
  padding:5px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color:rgb(196, 157, 60);
  border-radius: 5px;
}
.contentb p span i{
  opacity: 0.5;
  text-decoration: line-through;
}
 /*Chocolates & Cookies*/
 .container3{
  color: #fff;
 }
 .set1ch,.set2ch{
display: flex;
justify-content: space-around;
padding-bottom: 50px;
padding-left: 5px; 
 }
 .choco{
  background-color: #212529;
  border-radius: 6px;
 }
 .contentc .stars{
  color:gold ;
}
.contentc
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentc a{
  padding:5px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color:rgb(196, 157, 60);
  border-radius: 5px;
}
.contentc p span i{
  opacity: 0.5;
  text-decoration: line-through;
}