@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.contactus {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url("wepik-export-20231120163122iVdk.png");
}

.contactus .content h2 {
  font-size: 2.5rem;
  font-weight: 500px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}

.container .info {
  position: relative;
  width: 50%;
  display: flex;
  /* background-color: #fff1;*/
  flex-direction: column;
}
.container .info .box .icon {
  padding-top: 5px;
}
.container .info .box .heading {
  padding-left: 10px;
}
.container .info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}
.container .info .socialmedia {
  margin-top: 50px;
  font-weight: 500;
  line-height: 1rem;
  padding-left: 10px;
}
.sci {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 20px 0;
}
.sci li {
  list-style: none;
}
.sci a {
  color: white;
  font-size: 2rem;
  transition: 0.5s;
}
.sci li a:hover {
  color: aqua;
}
.container .form {
  position: relative;
  width: 40%;
  display: flex;
  background-color: white;
  min-height: 100px;
  color: black;
  padding: 60px;
}
.container .form h2 {
  font-size: 2rem;
  font-weight: 500;
}
.container .form .inputbox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.container .form .inputbox input,
.container .form .inputbox textarea {
  width: 400px;
  padding: 5px 0;
  font-size: 1.1rem;
  margin: 10px 0;
  border: none;
  border-bottom: 1.5px solid #333;
  outline: none;
  resize: none;
}
.container .form .inputbox span {
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1.1rem;
}
.container .form .inputbox input:focus ~ span,
.container .form .inputbox textarea:focus ~ span,
.container .form .inputbox input:valid ~ span,
.container .form .inputbox textarea:valid ~ span {
  color: black;
  font-size: 0.9rem;
  transform: translateY(-20px);
}
.container .form .inputbox input[type="submit"] {
  width: 100px;
  background-color: rgb(43, 43, 43);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}
