@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/*
body {
  background-image: url("closeup-shot-glass-coffee-black-surface.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}*/

.head a,
.homebg a {
  color: rgb(245, 245, 245);
  text-decoration: none;
}
.head {
  /* background-image: url(abstract-smooth-brown-wall-background-layout-design-web-template-business-report-with-smooth-circle-gradient-color.jpg);*/
  background-color: rgb(43, 43, 43);
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
}
.head a:hover {
  color: gold;
}
.navbar {
  color: white;
  display: flex;
  font-size: 18px;
  gap: 35px;
}
.icons {
  display: flex;
  gap: 20px;
  color: #fff;
  cursor: pointer;
}
.logo {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
}

.homebg {
  background: url("closeup-shot-glass-coffee-black-surface.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.homebg .home {
  min-height: 55rem;
  display: flex;
  justify-content: right;
}
.homebg .home .content {
  color: white;
  width: 55rem;
  text-align: center;
}
.homebg .home .content h3 {
  padding-top: 150px;
  padding-bottom: 30px;
  font-size: 85px;
  font-family: "times new roman";
  color: rgb(235, 221, 205);
  font-weight: 500;
}
homebg .home .content p {
  font-size: 14px;
  line-height: 2;
}
homebg .home .content pre {
  position: relative;
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
  top: 15%;
}
.btn {
  display: inline-block;
  margin-top: 7px;
  background-color: #b59677;
  cursor: pointer;
  font-size: 15px;
  padding: 13px 30px;
  border-radius: 5px;
}
/*login css*/
.hidden {
  display: none;
}
.container {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: rgb(29, 28, 28);
  display: flex;
  height: 550px;
  width: 900px;
}
.log-in-container {
  display: flex;
  flex-basis: 70%;
  justify-content: center;
  padding: 30px;
}
.over-container img {
  width: 470px;
  height: 550px;
}
.over-container {
  display: flex;
  flex-basis: 30%;
}
.log {
  font-size: 28px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-bottom: 25px;
}
.form .field {
  position: relative;
  height: 50px;
  width: 100%;
}
.field input {
  width: 350px;
  height: 43px;
  background-color: rgb(29, 28, 28);
  border: none;
}
.form .form-link {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 2px;
}
.fiel inpt,
.field button {
  height: 110%;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  background-color: #0171d3;
  color: #fff;
}
button {
  border: none;
}
.field input {
  outline: none;
  padding: 0px 15px;
  border: solid none;
  border-radius: 6px;
  background-color: rgb(44, 43, 43);
  color: #fff;
}
.form a {
  text-decoration: none;
  color: #0171d3;
}
.under:hover {
  text-decoration: underline;
}
.formcontent .form-link {
  padding-top: 10px;
  color: #fff;
}
.eyeicon {
  position: absolute;
  top: 14px;
  right: 10px;
  cursor: pointer;
  font-size: 15px;
  color: #979595;
}
.line {
  position: relative;
  height: 1px;
  background-color: grey;
  width: 100%;
  margin: 25px 0;
}
.line:before {
  content: "Or";
  position: absolute;
  top: 50%;
  right: 45%;
  transform: translate(-50%, -50%);
  background-color: rgb(29, 28, 28);
  color: white;
}
.media-optionfac a {
  display: flex;
  background-color: #4767b2;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}
a.facebook {
  color: #fff;
}
a.facebook .facebook-icon {
  height: 28px;
  width: 28px;
  color: #0171d3;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.facebook-icon,
img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.media-optiongog {
}
img.google-img {
  height: 20px;
  width: 20px;
}
.media-optiongog .google span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid none;
  margin-top: 10px;
  padding: 9px;
  border-radius: 6px;
  background-color: #cacaca;
  color: #8a8686;
}
/* signup css*/
.container2 {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: rgb(29, 28, 28);
  max-width: 700px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px 30px;
}
.container2 .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container2 .title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #9b59b6;
  left: 0;
  bottom: 0;
}
.container2 form .userdetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .userdetails .inputbox {
  width: calc(100% / 2 - 20px);
  margin-top: 18px;
  margin-bottom: 10px;
}
.userdetails .inputbox input {
  height: 45px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: solid;
  border-style: none;
  background-color: rgb(56, 55, 55);
  color: #fff;
  padding-left: 13px;
}
.userdetails .inputbox .details {
  font-weight: 500;
  display: block;
}
form .genderdetails .gendertitle {
  font-weight: 500;
  padding-right: 250px;
  padding-bottom: 5px;
  position: relative;
}
form .genderdetails .category {
  opacity: 0.8;
}
form .genderdetails {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}
form .datepic input {
  font-size: 15px;
  opacity: 0.5;
}
form .button {
  height: 45px;
  margin: 45px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  background: #8e629f;
  border: none;
  border-radius: 6px;
}
.container2 .close-modalreg {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  color: #6a6767;
  cursor: pointer;
  border: none;
  background: none;
}
.close-modallogin {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8e7e7;
  background-color: #292828;
  border-radius: 50%;
  font-weight: 500;
}
/*menu*/
.background {
  background-color: rgb(0, 0, 0);
}
.bgservice {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding-left: 125px;
  padding-top: 20px;
  flex-wrap: wrap;
}
.service img {
  width: 100%;
  transition: 1s ease-in-out;
}
.bgservice .service {
  width: 32%;
  position: relative;
  overflow: hidden;
}
.service .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(15, 15, 15, 0.4);
  width: 100%;
  height: 100%;
  color: #fff;
}
.service .overtxt {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
.service .overtxt p {
  color: #c7a17a;
  text-transform: capitalize;
}
.service:hover img {
  transform: scale(1.1);
}
.menutitle {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  padding-left: 44%;
  color: #c7a17a;
}
/*gallery*/
.gallery {
  background-color: #000000;
}
.gallerycontainer img {
  height: 340px;
  width: 420px;
}
.set1gall,
.set2gall,
.set3gall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 35px;
  padding-left: 5px;
}
.gallery .headinggall {
  padding-left: 44%;
  font-weight: 1000;
  font-size: 30px;
  font-family: "Times New Roman";
  text-transform: uppercase;
}
